body.home {
  background-color: lightpink;
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  
}

header.home1 {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

ul.topnav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}

ul.topnav li {
  flex: 1;
  text-align: center;  
}

ul.topnav li a {
  display: inline-block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration-style: dasched;
  
  
}


ul.topnav li a:hover {
  background-color: #dddddd;
  color: black;
}


main {
  max-width: 900px;
  margin: auto;
  padding-bottom: 80px; 
}

section {
  margin: 30px 0;
}


a.button-link {
  background-color: #f44336;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 4px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

a.button-link:hover {
  background-color: red;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 8px;
  text-align: center;
 
}
a.button-link {
    background-color: #f44336;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px; /* optional */
    cursor: pointer; /* Makes the link look like a button */
    transition: background-color 0.3s ease; /* Smooth hover transition */
 }

  a.button-link:hover {
    background-color: red;
  }
  a:link {
  color: #FF0000;
}


a:visited {
  color: #00FF00;
}


a:hover {
  color: #FF00FF;
}


a:active {
  color: #0000FF;
}
  body.news {
  background-color: lightblue;
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  
}

header.news1 {
  background-color: lila;
  padding: 10px;
  text-align: center;
}

  body.about {
  background-color: #FFF0F5;
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  
}

header.about1 {
  background-color: #DB7093;
  padding: 10px;
  text-align: center;
}
body.register {
  background-image: url('https://storyblok-cdn.photoroom.com/f/191576/768x432/0f78fe60a2/colors-backgrounds-cover.webp');
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;
     
  background-clip: content-box
  margin: 0;
  padding: 10px;
  font-family: Arial, sans-serif;
  
}

header.register1 {
  background-color: #DDA0DD;
  padding: 10px;
  text-align: center;
}
input:focus {
  background-color: #F0FFFF;
}